<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a routerLink="home" *ngIf="user!=undefined" class="navbar-brand">Home</a>
  <a *ngIf="user==undefined" class="navbar-brand">Home</a>
  <div class="navbar-nav ms-auto user">
      <li class="nav-item">
        <a *ngIf="user!=undefined" routerLink="peliculas" class="nav-link">Pelicules</a>
      </li>
      <li class="nav-item">
        <a *ngIf="user!=undefined" routerLink="series" class="nav-link">Series</a>
      </li>
      <li class="nav-item">
          <a *ngIf="user!=undefined" class="nav-link">{{user}}</a>
      </li>
      <li class="nav-item">
          <a *ngIf="user!=undefined" (click)="logout()" class="nav-link">LOGOUT</a>
      </li>
  </div>
</nav>
