  <div class="card mb-3" style="max-width: 940px;" *ngIf="peli!=null;else loading">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{peli.poster_path}}" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{peli.title}}</h3>
          <h5>{{peli.original_title}}</h5>
          <p class="card-text">
            <b>Overview:</b> {{peli.overview}}<br>
            <b>Fecha lanzamiento:</b> {{peli.release_date}}<br>
            <b>Id:</b> {{peli.id}}<br>
            <b>Nº votos:</b> {{peli.vote_count}}<br>
            <b>Generos:</b>
            <span *ngFor="let g of peli.genres">
              <br>{{g.name}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-template>
